<div class="row">
  <% @images.each do |image| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
      <a href='#'><%= image_tag image.img.url %></a>
      Description: <%= image.description %><br />
      Tags: <% image.tags.each do |tag| %>
        <a href='#'><%= '#' << tag %></a>
      <% end %><br />
      <div class='add_comment' data='photos/<%= image.id %>'>
        Add Comment
      </div>
      <div class='close_comment'>
        Close
      </div>
      <div class='comment'>
      </div>
      <div class='container-fluid'>
        <% image.comments.each do |comment| %>
          <div class='row'>
            <%= comment.text %> by <%= comment.user.name %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  <% end %>
</div>