<div class='row'>
  <h3>Current Albums</h3>
</div>
<div class="row">
  <%= link_to 'Add Album', new_album_path %>
</div>
<div class="row">
  <% @albums.each do |album| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
      <%=link_to image_tag(album.get_cover_image_url), album_path(album) %></a>
      <b><%= album.name %></b><br />
      <%= album.description %><br />
      <% album.tags.each do |tag| %>
        <%=link_to '#' << tag, tags_albums_path({tag: tag}) %>
      <% end %><br />
     <div class='add_comment' data='albums/<%= album.id %>'>
        Add Comment
      </div>
      <div class='close_comment'>
        Close
      </div>
      <div class='comment'>
      </div>
        <div class='container-fluid'>
        <% album.comments.each do |comment| %>
          <div class='row'>
            <%= comment.text %> by <%= comment.user.name %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>