<div class="row">
    <div class="col-xs-6 col-md-3">
      <a href='#'><%= image_tag @photo.img.url(:original) %></a>
      Description: <%= @photo.description %><br />
      Tags: <% @photo.tags.each do |tag| %>
        <%=link_to '#' << tag, tags_photos_path({tag: tag}) %></a>
      <% end %><br />
      Thumbs Up: <%= @photo.thumbs_up %><br />
      <%=(button_to 'Remove', photo_path(@photo), method: :delete, class: 'btn btn-sm btn-danger') if current_user.id == @photo.user_id  %>
      <%=button_to 'Thumbs Up!', photo_thumbs_up_path(@photo), method: :get, class: 'btn btn-large btn-primary' %>
      <div class='add_comment' data='<%= photo_path(@photo) %>'>
        <button class='btn btn-large btn-primary'>Add Comment</button>
      </div>
      <div class='close_comment'>
        <button class='btn btn-large btn-primary'>Close</button>
      </div>
      <div class='comment'>
      </div>
      <div class='container-fluid'>
        <% @photo.comments.each do |comment| %>
          <div class='row'>
            <%= comment.text %> by <%= comment.user.name %>
          </div>
        <% end %>
      </div>

    </div>
</div>